[Unit]
Description=LMNOP Transcribe Service
After=network.target

[Service]
Type=exec
ExecStart=/bin/bash -c '. ./.venv/bin/activate && ./.venv/bin/lmnop-transcribe --config ./config.toml'
Restart=on-failure
WorkingDirectory=__PROJECT_PATH__

[Install]
WantedBy=default.target
